<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href ="{{ url_for('static', filename='css/styless.css') }}">
</head>
<body>

    <nav class="navbar">
        <h1 class = "Title">
            CSCB20 - Introduction to Databases and Web Applications
        </h1>
    </nav>

    <div id="container">
    
        
        <aside class="sidebar">

            <div><h2>MENU</h2></div>

            <div class = "dropdown">

            <div><a href="{{ url_for('index') }}">home</a></div>
            <div><a href="{{ url_for('new') }}">new news</a></div>
            <div> <a href = "https://piazza.com/mail.utoronto.ca/winter2016/cscb20/home"> discusion board</a></div>
            <div><a href="{{ url_for('lec') }}">lectures</a></div>
            <div><a href="{{ url_for('labs') }}">labs</a></div>
            <div><a href="{{ url_for('assign') }}"> assignments</a></div>
            <div><a href="{{ url_for('tests') }}">tests</a></div>
            <div><a href="{{ url_for('res') }}">resources</a></div>
            <div><a href="{{ url_for('syl') }}">syllabus</a></div>
            <div><a href = "https://markus2.utsc.utoronto.ca/">markus</a></div>
            <div><a href="{{ url_for('calendar') }}">calendar</a></div>
            <br>

            {% block content %}
                {% if session.type == 'Instructor' %}
                    <div><a href = "{{ url_for('enter_grade') }}">assign marks</a></div>
                    <div><a href = "{{ url_for('view_grades') }}">view class grades</a></div>
                    <div><a href="{{url_for('anon_mail')}}">review feedback</a></div>
                    <div><a href = "{{ url_for('view_anon') }}">view all feedback</a></div>
                    <div><a href="{{ url_for('remark_req') }}">view remark requests</a></div>


                {% else %}    
                    <div><a href = "{{ url_for('view_grades_student') }}">view your marks</a></div>
                    <div><a href = "{{ url_for('student_feedback') }}">provide feedback</a></div>
                    <div><a href = "{{ url_for('remark') }}">remark request</a></div>
                {% endif %}


            <div><a href = "{{ url_for('logout') }}"><b>LOGOUT</b></a></div>


            </div>



        </aside>

          

        <main class="content"> 

            <div id="myModal" class="myModal">

                <form id="modal-content" action = "http://127.0.0.1:5000/remark" method="post">


                    {%with messages = get_flashed_messages(with_categories=True)%}
                        {% if messages %}
                            {% for categories, message in messages %}
                                <div class="error">{{categories}} - {{message}}</div>
                            {% endfor%}
            
                        {%endif%}        
                    {% endwith%}
                    <br><br>
                    <label class="po">Assessment</label><br>
                    <select name="assignment" class="op">
                        <option>Assessment</option>

                        {% for names in session.assignments %}
                        <option value={{names}} > {{names}} </option>
                        {% endfor %}
        
                    </select>
                   
                    {% endblock %}
                    <br><br>

                    <label class="po">Provide Reason for Request</label><br>
                    <input placeholder="reason..." name="reason"> <br>
                    <br>
        
                    <button class="log_reg_button" type="registar">Sent</button>

            </form>
            </div> 
        
        </main>

        <footer class="end"><p>
            
            Site design by Nethanel reta<br>
            <a href = https://web.cs.toronto.edu/ >Faculty of Computer Science at UofT</a>
        
        </p></footer>


    </div>


   


    
</body>
</html>